@import "tailwindcss";
.input {
  @apply w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-400;
}

@keyframes partner-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-partner-scroll {
  animation: partner-scroll 25s linear infinite;
}
